<% provide(:title, "Pagina iniziale") %>

<% if logged_in? %>
    <div class="row">
        <aside class="col-md-4">
            <section class="user_info">
                <%= render 'shared/user_info' %>
            </section>
            <section class="stats">
                <%= render 'shared/stats' %>
            </section
            <section class="travel_form">
                <%= render 'shared/travel_form' %>
            </section>
        </aside>
        <div class="col-md-8">
            <h3>Travel Feed</h3>
            <%= render 'shared/feed' %>
        </div>
    </div>
<% else %>

    <div class="center jumbotron">
        <h1>Benvenuto su Travel Diary</h1>

        <h2>Grazie alla nostra applicazione avrai la possibilità di condividere con altri utenti esperienze vissute e viaggi indimenticabili.</h2>

        <p>
        Comincia subito!
        </p>
        <%= link_to "Registrati ora!", signup_path, class: "btn btn-lg btn-primary", id:'bottone' %>

        <p>Oppure</p>
        <%= link_to "Accedi con Google", user_google_oauth2_omniauth_authorize_path%>
    </div>



<% end %>


