<% provide(:title, @user.name) %>
<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1>
                <%= gravatar_for @user %>
                <%= @user.name %> <br>
                <%= @user.nickname %>
            </h1>
        </section>
        <section class="stats">
            <%= render 'shared/stats' %>
        </section>
        <%if user_signed_in? %>
            <%if @user.id == current_user.id %>
                <section class="travels">
                    <%= button_to "Wish List", travels_path, :method => :get, id:"bottone" %>
                </section>
            <%end%>
        <%end%>
    </aside>
    <div class="col-md-8">
        <%= render 'follow_form' if user_signed_in? %>
        <% if @user.travels.any? %>
            <h3>Travels (<%= @user.travels.count %>)</h3>
            <ol class="travels">
                <%= render @travels %>
            </ol>
            <%= will_paginate @travels %>
        <% end %>
    </div>
</div>
