<%= form_for(@travel, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :title, "Travel" %>
  <%= f.text_field :title, placeholder: "Insert title", class: 'form-control' %> <br>

  <%= f.text_field :location, placeholder: "Insert city", class: 'form-control' %> <br>

  <%= f.text_area :description, placeholder: "Insert description", class: 'form-control' %>

  <span class="picture">
    <%= f.label :multiples, 'Select one or more images', accept: 'image/jpeg,image/gif,image/png'%>
    <%= f.file_field :multiples, multiple: true %>
  </span>
  <%= f.submit "Create", class: "btn btn-primary", id:"bottone" %>

  <script type="text/javascript">
    $('#travel_multiples').bind('change', function() {
        size_in_megabytes = this.files[0].size/1024/1024;
        if (size_in_megabytes > 5) {
            alert('Maximum file size is 5MB. Please choose a smaller file.');
        }
    });
  </script>

<% end %>
